.experiencia {
  max-width: 1200px;
  padding: 40px 20px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 100px;
}

.experiencia .subtitulo {
  color: #bcbcbc;
}

.experiencia-texto {
  font-size: 1.5rem;
  line-height: 1.33;
  margin-bottom: 60px;
  color: #525252;
}

.experiencia-texto strong {
  color: #141414;
}

.empresa {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px 20px;
  padding: 20px;
  background: #ffb3d3;
  margin-bottom: 20px;
  border-radius: 4px;
  position: relative;
}

.empresa::before {
  content: "";
  display: block;
  width: 12px;
  height: 24px;
  background: linear-gradient(#faafce, #fd2368);
  position: absolute;
  top: 20px;
  left: -8px;
}

.empresa-ano {
  position: absolute;
  top: 22px;
  left: -100px;
  text-align: right;
  width: 80px;
  color: #525252;
  font-size: 0.875rem;
}

.empresa-titulo {
  font-size: 20px;
  line-height: 1.1;
  font-weight: bold;
  color: #141414;
}

.empresa-texto {
  font-size: 16px;
  line-height: 1.4;
  color: #525252;
}

.empresa-habilidades {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  align-content: start;
}

.empresa-habilidades li {
  font-size: 0.875rem;
  line-height: 1.4;
  border-radius: 4px;
  background: #ffffff;
  padding: 5px 10px;
}

.Projetos-Git {
  background: #fff0f7;
}

.github {
  max-width: 1200px;
  padding: 120px 20px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 100px;
}

.subtitulo-Git {
  word-break: break-word;
  padding: 24px;
  font-size: 8rem;
  line-height: 1;
  text-transform: uppercase;
  color: #bcbcbc;
}

.github-lista {
  list-style: none;
  padding: 0;
}

.github-lista li {
  margin-bottom: 20px;
  background-color: #ffb3d3;
  padding: 24px;
  border-radius: 4px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
  transition: transform 0.2s ease;
  position: relative;
}

.github-lista li:hover {
  transform: scale(1.03);
}

.github-lista a {
  text-decoration: none;
  color: #525252;
  display: block;
  text-align: center;
  font-size: 18px;
}

.github-lista strong {
  font-size: 20px;
  color: #141414;
  text-transform: capitalize;
}

@media (max-width: 800px) {
  .experiencia {
    grid-template-columns: 1fr;
    gap: 40px;
  }
  .experiencia .subtitulo {
    color: #141414;
  }
  .experiencia-texto {
    font-size: 1.25rem;
  }
  .empresa-ano {
    position: initial;
    order: 1;
    width: initial;
    text-align: left;
  }
  .github {
    grid-template-columns: 1fr;
    gap: 40px;
  }
  .subtitulo-Git {
    color: #141414;
    font-size: 3rem;
    text-transform: capitalize;
  }
}

@media (max-width: 400px) {
  .empresa {
    grid-template-columns: 1fr;
  }
}
